{% extends 'base.html' %}
{% load static %}

{% block body %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Menu</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
<br><br>
	<!-- Start Menu -->

    <section class="shop_section layout_padding">
        <div class="container">
          <div class="row">
			  {% for food in foods %}
            <div class="col-sm-6 col-xl-3">
              <div class="box">
                <a href="{% url 'food:food_detail' pk=food.pk %}">
                  <div class="img-box">
                    <img src="{{ food.img.url }}"  alt="">
                  </div>
                  <div class="detail-box">
                    <h6>
                      {{ food.name }}
                    </h6>
                    <h6>
                      Price:
                      <span>
                        ${{ food.price }}
                      </span>
                    </h6>
                  </div>
				  {% if food.label %}
                  <div class="new">
                    <span>
                      {{ food.label }}
                    </span>
                  </div>
				  {% endif %}
                </a>
              </div>
            </div>
			{% endfor %}
          </div>
        </div>
         {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                    >&laquo;</a
                  >
                </li>
                {% endif %}
                  {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a href="?page={{page_obj.next_page_number}}" class="page-link"
                    >&raquo;</a>
                </li>
                {% endif %}
              </ul>
        {% endif %}
      </section>
	<!-- End Menu -->
	<br><br>

{% endblock body %}