{% extends 'base.html' %}
{% load static %}

{% block body %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>RESERVATION</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<form method="POST" action="{% url 'food:reservation' %}">
		{% csrf_token %}
		<div class="col-md-12">
			<h3>DATE</h3>
			<input type="date" placeholder="Pick a date for your reservation" id="date" name="date" class="time form-control picker__input" required data-error="Please pick a date">
			<div class="help-block with-errors"></div>
		</div>
		<div class="col-md-12">
			<h3>NUMBER OF PERSONS</h3>
			<div class="form-group">
				<select class="custom-select d-block form-control" name="persons" id="persons" required data-error="Please select number of  Person">
				  <option disabled selected>Select Number of Persons</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				</select>
				<div class="help-block with-errors"></div>
			</div> 
		</div>
		<div class="col-md-12">
			<h3>SELECT RESERVATION time</h3>
			<div class="form-group">
				<select class="custom-select d-block form-control" id="time" name="time" required data-error="Please select reservation time">
				  <option disabled selected>Select reservation time</option>
				  <option value="morning">MORNING</option>
				  <option value="afternoon">AFTERNOON</option>
				  <option value="evening">EVENING</option>
				  <option value="night">NIGHT</option>
				</select>
				<div class="help-block with-errors"></div>
			</div> 
		</div>
		<p class="text-right"><button type="submit" class="btn btn-primary">POST.</button></p>
	</form>


{% endblock body %}