{% load static %}
{% load cart_template_tags %}

<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'food:home' %}">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<form action="{% url 'food:search_food' %}" method="POST">
						{% csrf_token %}
						<input type="search" placeholder="search" name="searched">
						<button type="submit">search</button>
					</form>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{% url 'food:home' %}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'food:food_list' %}">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'food:about' %}">About</a></li>
						{% if user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}">LOGOUT</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'account:user_detail' pk=user.pk %}">PROFILE</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'food:order_summary' %}">
							<span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }}</span><i class="bi bi-cart3"></i>
						</a></li>
						{% else %}
						<li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">LOGIN</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

<div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
    </div>
	</header>
	<!-- End header -->