{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-left">
				<img src="{% static 'images/slider-01.jpg' %}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Live Dinner Restaurant</strong></h1>
							<p class="m-b-40">See how your users experience your website in realtime or view  <br>
							trends to see any changes in performance over time.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-left">
				<img src="{% static 'images/slider-02.jpg' %}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Live Dinner Restaurant</strong></h1>
							<p class="m-b-40">See how your users experience your website in realtime or view  <br>
							trends to see any changes in performance over time.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-left">
				<img src="{% static 'images/slider-03.jpg' %}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Yamifood Restaurant</strong></h1>
							<p class="m-b-40">See how your users experience your website in realtime or view  <br>
							trends to see any changes in performance over time.</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->

	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Welcome To <span>Live Dinner Restaurant</span></h1>
						<h4>Little Story</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut at pellentesque ante, sed convallis arcu. Nullam facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia lectus erat et sem. </p>
						<p>Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam metus lorem, a pellentesque tellus pretium a. Nulla placerat elit in justo vestibulum, et maximus sem pulvinar.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="{% static 'images/about-img.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						" If you're not the one cooking, stay out of the way and compliment the chef. "
					</p>
					<span class="lead">Michael Strahan</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->

	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
					<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'food:food_list' %}">LATEST MENU</a></p>

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>


				<div class="col-12">
					<!-- Start Menu -->

    <section class="shop_section layout_padding">
        <div class="container">
          <div class="row">
			  {% for food in foods %}
            <div class="col-sm-6 col-xl-3">
              <div class="box">
                <a href="{% url 'food:food_detail' pk=food.pk %}">
                  <div class="img-box">
                    <img src="{{ food.img.url }}"  alt="">
                  </div>
                  <div class="detail-box">
                    <h6>
                      {{ food.name }}
                    </h6>
                    <h6>
                      Price:
                      <span>
                        ${{ food.price }}
                      </span>
                    </h6>
                  </div>
				  {% if food.label %}
                  <div class="new">
                    <span>
                      {{ food.label }}
                    </span>
                  </div>
				  {% endif %}
                </a>
              </div>
            </div>
			{% endfor %}
          </div>
		  <div class="btn-box">
            <a href="{% url 'food:food_list' %}">
              VIEW ALL
            </a>
          </div>
        </div>
      </section>
	<!-- End Menu -->
				</div>
			</div>

		</div>
	</div>
	<!-- End Menu -->


{% endblock body %}


