{% extends 'base.html' %}
{% load static %}

{% block body %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>RESERVATION DETAILS</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

    
    <h1>DATE : {{ item.date }}</h1>
    <h1>TIME : {{ item.time }}</h1> 
    <h1>TABLE FOR  : {{ item.persons }} persons</h1>
    <h1>TABLE NUMBER : {{ item.table }}</h1>
    <h1>RESERVATION CODE: {{ item.reservation_code }}</h1> 
    <em>YOUR RESERVATION CODE WILL BE USED TO CHECK YOU IN FOR YOUR RESERVATIOIN.</em>

{% endblock body %}